@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Dancing+Script:wght@500&family=El+Messiri:wght@400;500;600;700&family=Rajdhani:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  padding: 10px;
  background: #fdfbf4;
}

#sec {
  width: 100%;
  border: 1px solid #333;
  padding: 30px 10px 0;
}
#sec .sec01 .inner .top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
#sec .sec01 .inner .top h2 {
  font: 100px/1 "Dancing Script";
}
#sec .sec01 .inner .top .img_box {
  border: 1px solid #ff6ec4;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;
}
#sec .sec01 .inner .top .img_box img {
  padding: 5px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#sec .sec01 .inner .bottom .info {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}
#sec .sec01 .inner .bottom .info a {
  width: 30%;
  text-align: center;
  border-right: 1px solid #333;
  font: 18px/1.4 "NanumSquare";
  cursor: default;
}
#sec .sec01 .inner .bottom .info a:first-child {
  cursor: pointer;
}
#sec .sec01 .inner .bottom .info a:last-child {
  border: none;
}
#sec .sec01 .inner .bottom .info a i {
  margin-right: 5px;
  color: #ff6ec4;
}
#sec .guide {
  display: flex;
}
#sec .guide .inner > div {
  padding: 50px 0 0;
  border-bottom: 1px solid #333;
}
#sec .guide .inner > div:last-child {
  border: none;
}
#sec .guide .inner > div .skillBox {
  margin-top: 50px;
}
#sec .guide .inner > div .skillBox > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(1) .container {
  width: 50%;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(1) .container .progress2 {
  border-radius: 30px;
  background: #ddd;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(1) .container .progress-bar2 {
  height: 10px;
  border-radius: 30px;
  animation: bar1 2s linear 1;
  transition-property: width, background-color;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(1) .container .progress-moved .progress-bar2 {
  width: 90%;
  background-color: #ef476f;
  animation: bar1 2s linear 1;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(2) .container {
  width: 50%;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(2) .container .progress2 {
  border-radius: 30px;
  background: #ddd;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(2) .container .progress-bar2 {
  height: 10px;
  border-radius: 30px;
  animation: bar2 2s linear 1;
  transition-property: width, background-color;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(2) .container .progress-moved .progress-bar2 {
  width: 90%;
  background-color: #ef476f;
  animation: bar2 2s linear 1;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(3) .container {
  width: 50%;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(3) .container .progress2 {
  border-radius: 30px;
  background: #ddd;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(3) .container .progress-bar2 {
  height: 10px;
  border-radius: 30px;
  animation: bar3 2s linear 1;
  transition-property: width, background-color;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(3) .container .progress-moved .progress-bar2 {
  width: 85%;
  background-color: #ef476f;
  animation: bar3 2s linear 1;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(4) .container {
  width: 50%;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(4) .container .progress2 {
  border-radius: 30px;
  background: #ddd;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(4) .container .progress-bar2 {
  height: 10px;
  border-radius: 30px;
  animation: bar4 2s linear 1;
  transition-property: width, background-color;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(4) .container .progress-moved .progress-bar2 {
  width: 70%;
  background-color: #ef476f;
  animation: bar4 2s linear 1;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(5) .container {
  width: 50%;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(5) .container .progress2 {
  border-radius: 30px;
  background: #ddd;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(5) .container .progress-bar2 {
  height: 10px;
  border-radius: 30px;
  animation: bar5 2s linear 1;
  transition-property: width, background-color;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(5) .container .progress-moved .progress-bar2 {
  width: 80%;
  background-color: #ef476f;
  animation: bar5 2s linear 1;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(6) .container {
  width: 50%;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(6) .container .progress2 {
  border-radius: 30px;
  background: #ddd;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(6) .container .progress-bar2 {
  height: 10px;
  border-radius: 30px;
  animation: bar6 2s linear 1;
  transition-property: width, background-color;
}
#sec .guide .inner > div .skillBox > div:nth-of-type(6) .container .progress-moved .progress-bar2 {
  width: 85%;
  background-color: #ef476f;
  animation: bar6 2s linear 1;
}
#sec .guide .inner > div .skillBox > div .img {
  display: flex;
  align-items: center;
  width: 100px;
}
#sec .guide .inner > div .skillBox > div .img img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
#sec .guide .inner > div .skillBox > div .img span {
  font: bold 22px/1 "Rajdhani";
  color: #ff6ec4;
  white-space: nowrap;
}
#sec .guide .inner h1 {
  font: 35px/1 "Rajdhani";
  margin-bottom: 20px;
}
#sec .guide .left {
  width: 50%;
  border-right: 1px solid #333;
}
#sec .guide .left > .inner > div:first-child {
  padding-bottom: 30px;
  padding-right: 10px;
  word-break: keep-all;
}
#sec .guide .left > .inner > div:first-child h2 {
  font: bold 20px/1.5 "NanumSquare";
  margin-bottom: 10px;
}
#sec .guide .left > .inner > div:first-child p {
  font: 16px/1.4 "NanumSquare";
}
#sec .guide .right {
  width: 50%;
  padding-left: 10px;
}
#sec .guide .right > .inner article {
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #333;
}
#sec .guide .right > .inner article p {
  margin-left: 97px;
}
#sec .guide .right > .inner article:last-child {
  border-bottom: none;
}
#sec .guide .right > .inner article:last-child p a {
  display: inline-block;
  margin-top: 10px;
  color: #333;
  opacity: 0.5;
  font-size: 14px;
  text-decoration: underline;
}
#sec .guide .right > .inner article:last-child p a:hover {
  opacity: 1;
}
#sec .guide .right > .inner > h1 {
  margin-top: 50px;
  margin-bottom: 0;
}
#sec .guide .right > .inner .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}
#sec .guide .right > .inner .title .num {
  display: flex;
  align-items: center;
}
#sec .guide .right > .inner .title h2 {
  margin-right: 25px;
  font: 50px/1 "Rajdhani";
  font-weight: 600;
  color: #ff6ec4;
  width: 45px;
}
#sec .guide .right > .inner .title span {
  border-left: 1px solid #333;
  padding-left: 20px;
  font: 25px/1 "Rajdhani";
  font-weight: 500;
  color: #ff6ec4;
}
#sec .guide .right > .inner .guide_box {
  word-break: keep-all;
}
#sec .guide .right > .inner .guide_box p {
  margin-top: -10px;
  padding-bottom: 15px;
  font: 16px/1.4 "NanumSquare";
}
#sec .guide .right > .inner .guide_box .html_add {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #333;
}
#sec .guide .right > .inner .guide_box .html_add .fa-folder-open {
  padding-left: 20px;
  color: #ff6ec4;
  vertical-align: middle;
  font-size: 18px;
}
#sec .guide .right > .inner .guide_box .html_add a {
  color: #333;
  display: inline-block;
  padding: 10px 10px 10px 0;
  font: 14px/1 "Rajdhani";
  border-right: 1px solid #333;
}
#sec .guide .right > .inner .guide_box .html_add a.last {
  border-right: none;
}
#sec .guide .right > .inner .guide_box .html_add a:hover {
  opacity: 0.5;
  text-decoration: underline;
}
#sec .guide .right > .inner .guide_box .git_file .pdf_file {
  padding: 10px;
}
#sec .guide .right > .inner .guide_box .git_file .pdf_file .fa-caret-down {
  margin-left: 10px;
  color: #ff6ec4;
}

@keyframes bar1 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes bar2 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes bar3 {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes bar4 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes bar5 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes bar6 {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@media screen and (max-width: 1179px) {
  #sec .sec01 .inner .top h2 {
    font: 10vmin/1 "Dancing Script";
  }
  #sec .sec01 .inner .top .img_box {
    width: 17vmin;
    height: 17vmin;
  }
  #sec .sec01 .inner .bottom .info a {
    font: 15px/1.4 "NanumSquare";
  }
  #sec .guide {
    flex-direction: column;
  }
  #sec .guide .inner > div {
    border-bottom: 1px solid #333;
  }
  #sec .guide .inner > div:last-child {
    padding-bottom: 20px;
  }
  #sec .guide .inner h1 {
    font: 35px/1 "Rajdhani";
    margin-bottom: 20px;
  }
  #sec .guide .left {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
  }
  #sec .guide .right {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
