@charset 'utf-8';
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Dancing+Script:wght@500&family=El+Messiri:wght@400;500;600;700&family=Rajdhani:wght@500;600;700&display=swap');
#sec {
	width: 100%;
	border: 1px solid #333;
	padding: 10px 10px 0;
	.sec01 {
		.inner {
			.top {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				margin-bottom: 10px;
				h2 {
					font: 50px/1 'Dancing Script';
				}
				.img_box {
					border: 1px solid #ff6ec4;
					border-radius: 50%;
					width: 80px;
					height: 80px;
					overflow: hidden;
					img {
						padding: 5px;
						// background: salmon;
						width: 100%;
						height: 100%;
						border-radius: 50%;
					}
				}
			}
			.bottom {
				.info {
					border-top: 1px solid #333;
					border-bottom: 1px solid #333;
					display: flex;
					align-items: center;
					justify-content: space-evenly;
					padding: 10px 0;
					a {
						width: 30%;
						text-align: center;
						border-right: 1px solid #333;
						font: 15px/1.4 'NanumSquare';
						cursor: default;
						&:first-child {
							cursor: pointer;
						}
						&:last-child {
							border: none;
						}
						i {
							margin-right: 5px;
							color: #ff6ec4;
						}
					}
				}
			}
		}
	}

	.guide {
		display: flex;
		.inner {
			> div {
				padding: 30px 0 0;
				border-bottom: 1px solid #333;
				&:last-child {
					border: none;
				}
				.skillBox {
					margin-top: 100px;
					> div {
						display: flex;
						align-items: center;
						justify-content: space-evenly;
						margin-bottom: 10px;
						&:nth-of-type(1) .container {
							width: 60%;
							.progress2 {
								border-radius: 30px;
								background: #ddd;
							}
							.progress-bar2 {
								height: 10px;
								border-radius: 30px;
								animation: bar1 2s linear 1;

								transition-property: width, background-color;
							}
							.progress-moved .progress-bar2 {
								width: 90%;
								background-color: #ef476f;
								animation: bar1 2s linear 1;
							}
						}
						&:nth-of-type(2) .container {
							width: 60%;
							.progress2 {
								border-radius: 30px;
								background: #ddd;
							}
							.progress-bar2 {
								height: 10px;
								border-radius: 30px;
								animation: bar2 2s linear 1;

								transition-property: width, background-color;
							}
							.progress-moved .progress-bar2 {
								width: 90%;
								background-color: #ef476f;
								animation: bar2 2s linear 1;
							}
						}
						&:nth-of-type(3) .container {
							width: 60%;
							.progress2 {
								border-radius: 30px;
								background: #ddd;
							}
							.progress-bar2 {
								height: 10px;
								border-radius: 30px;
								animation: bar3 2s linear 1;

								transition-property: width, background-color;
							}
							.progress-moved .progress-bar2 {
								width: 85%;
								background-color: #ef476f;
								animation: bar3 2s linear 1;
							}
						}
						&:nth-of-type(4) .container {
							width: 60%;
							.progress2 {
								border-radius: 30px;
								background: #ddd;
							}
							.progress-bar2 {
								height: 10px;
								border-radius: 30px;
								animation: bar4 2s linear 1;

								transition-property: width, background-color;
							}
							.progress-moved .progress-bar2 {
								width: 70%;
								background-color: #ef476f;
								animation: bar4 2s linear 1;
							}
						}
						&:nth-of-type(5) .container {
							width: 60%;
							.progress2 {
								border-radius: 30px;
								background: #ddd;
							}
							.progress-bar2 {
								height: 10px;
								border-radius: 30px;
								animation: bar5 2s linear 1;

								transition-property: width, background-color;
							}
							.progress-moved .progress-bar2 {
								width: 80%;
								background-color: #ef476f;
								animation: bar5 2s linear 1;
							}
						}
						&:nth-of-type(6) .container {
							width: 60%;
							.progress2 {
								border-radius: 30px;
								background: #ddd;
							}
							.progress-bar2 {
								height: 10px;
								border-radius: 30px;
								animation: bar6 2s linear 1;

								transition-property: width, background-color;
							}
							.progress-moved .progress-bar2 {
								width: 85%;
								background-color: #ef476f;
								animation: bar6 2s linear 1;
							}
						}
						.img {
							display: flex;
							align-items: center;
							width: 100px;
							img {
								width: 30px;
								height: 30px;
								object-fit: cover;
							}
							span {
								font: bold 18px/1 'Rajdhani';
								color: #ff6ec4;
								white-space: nowrap;
							}
						}
					}
				}
			}
			h1 {
				font: bold 40px/1 'Rajdhani';
				margin-bottom: 15px;
			}
		}
		.left {
			width: 50%;
			border-right: 1px solid #333;
			> .inner {
				> div {
					&:first-child {
						padding-bottom: 30px;
					}
				}
			}
		}
		// .right {
		// 	width: 50%;
		// 	padding-left: 10px;
		// 	> .inner {
		// 		article {
		// 			margin-top: 20px;
		// 			border-bottom: 1px solid #333;
		// 			&:last-child {
		// 				border-bottom: none;
		// 			}
		// 		}
		// 		> h1 {
		// 			margin-top: 30px;
		// 			margin-bottom: 0;
		// 		}
		// 		.title {
		// 			display: flex;
		// 			align-items: center;
		// 			justify-content: space-between;
		// 			margin-bottom: 7px;
		// 			.num {
		// 				display: flex;
		// 				align-items: center;
		// 			}

		// 			h2 {
		// 				margin-right: 20px;
		// 				font: 45px/1 'Rajdhani';
		// 				font-weight: 600;
		// 				color: #ff6ec4;
		// 			}
		// 			span {
		// 				border-left: 1px solid #333;
		// 				padding-left: 20px;
		// 				font: 20px/1 'Rajdhani';
		// 				font-weight: 500;
		// 				color: #ff6ec4;
		// 			}
		// 		}
		// 		.guide_box {
		// 			word-break: keep-all;
		// 			p {
		// 				padding-bottom: 15px;
		// 				font: 15px/1.4 'NanumSquare';
		// 			}
		// 			.html_add {
		// 				display: flex;
		// 				align-items: center;
		// 				justify-content: flex-end;
		// 				border-top: 1px solid #333;
		// 				.fa-folder-open {
		// 					padding-left: 10px;
		// 					color: #ff6ec4;
		// 					vertical-align: middle;
		// 				}
		// 				a {
		// 					color: #333;
		// 					display: inline-block;
		// 					padding: 10px 10px 10px 0;
		// 					font: 12px/1 'Rajdhani';
		// 					border-right: 1px solid #333;
		// 					&.last {
		// 						border-right: none;
		// 					}
		// 					&:hover {
		// 						opacity: 0.5;
		// 						text-decoration: underline;
		// 					}
		// 				}
		// 			}
		// 			.git_file {
		// 				.pdf_file {
		// 					padding: 10px;
		// 					.fa-caret-down {
		// 						margin-left: 10px;
		// 						color: #ff6ec4;
		// 					}
		// 				}
		// 			}
		// 		}
		// 	}
		// }

		.right {
			width: 50%;
			padding-left: 10px;
			> .inner {
				article {
					width: 100%;
					margin-top: 20px;
					border-bottom: 1px solid #333;
					p {
						margin-left: 85px;
					}
					&:last-child {
						border-bottom: none;

						p {
							// display: flex;
							// align-items: center;

							a {
								// margin-left: 20px;
								display: inline-block;
								margin-top: 10px;
								color: #333;
								opacity: 0.5;
								font-size: 12px;
								text-decoration: underline;
								&:hover {
									opacity: 1;
								}
							}
						}
					}
				}
				> h1 {
					margin-top: 30px;
					margin-bottom: 0;
				}
				.title {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 7px;
					.num {
						display: flex;
						align-items: center;
					}

					h2 {
						margin-right: 20px;
						font: 45px/1 'Rajdhani';
						font-weight: 600;
						color: #ff6ec4;
						width: 45px;
					}
					span {
						border-left: 1px solid #333;
						padding-left: 20px;
						font: 16px/1 'Rajdhani';
						font-weight: 500;
						color: #ff6ec4;
					}
				}
				.guide_box {
					word-break: keep-all;
					p {
						padding-bottom: 15px;
						font: 14px/1.4 'NanumSquare';
					}
					.html_add {
						display: flex;
						align-items: center;
						justify-content: flex-end;
						border-top: 1px solid #333;
						.fa-folder-open {
							padding-left: 10px;
							color: #ff6ec4;
							vertical-align: middle;
						}
						a {
							color: #333;
							display: inline-block;
							padding: 10px 10px 10px 0;
							font: 12px/1 'Rajdhani';
							border-right: 1px solid #333;

							&.last {
								border-right: none;
							}
							&:hover {
								opacity: 0.5;
								text-decoration: underline;
							}
						}
					}
					.git_file {
						.pdf_file {
							padding: 10px;
							.fa-caret-down {
								margin-left: 10px;
								color: #ff6ec4;
							}
						}
					}
				}
			}
		}
	}
}

@keyframes bar1 {
	0% {
		width: 0%;
	}
	100% {
		width: 90%;
	}
}
@keyframes bar2 {
	0% {
		width: 0%;
	}
	100% {
		width: 90%;
	}
}
@keyframes bar3 {
	0% {
		width: 0%;
	}
	100% {
		width: 85%;
	}
}
@keyframes bar4 {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}
@keyframes bar5 {
	0% {
		width: 0%;
	}
	100% {
		width: 80%;
	}
}
@keyframes bar6 {
	0% {
		width: 0%;
	}
	100% {
		width: 85%;
	}
}
